<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Hike</title>
</head>

<body>
  <form action="/addHike" method="POST">
    <label for="hike_name">Hike Name:</label>
    <input type="text" name="hike_name" id="hike_name">
    <label for="hike_length">Hike Name:</label>
    <input type="text" name="hike_length" id="hike_length">
    <label for="rating">Hike Name:</label>
    <input type="text" name="rating" id="rating">
  </form>
</body>

</html>