<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <table>
        <th>
            <tr>
                <td>Hike Name</td>
                <td>Description</td>
                <td>Rating</td>
            </tr>
        </th>
        <!-- make ejs display hikes here using for loop -->




    </table>












</body>
</html>