<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/filterhikes" method="GET">
        <div>
            <label for="category">Search by:</label>
            <select id="catagory" name="category"> <!-- dropdown menu -->
            <option value="hike_name">Hike Name</option>
            <option value="hike_length">Hike Length</option>
            <option value="rating">Rating</option>
            </select>

            <label for="operator">Operator</label>
            <select id="operator" name="operator"> <!-- dropdown menu -->
            <option value="=">=</option>
            <option value=">">></option>
            <option value="<"><</option>
            </select>
            <label for="value">Value to search for: </label>
            <input type="text" id="value" name="value">
            <label for="limit">Limit:</label>
            <input type="text" id="limit" name="limit" required>
            <button type="submit" class="button">Search</button>
        </div>
    </form>

    <br><br><br><br>
    <table>
        <thead>
            <tr>
                <th>Hike Name</th>
                <th>Length</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <!-- make ejs display hikes here using for loop -->
            <% for (let icount=0; icount < results.length; icount++) { %>
                <tr>
                    <td><%= results[icount].hike_name%></td>
                    <td><%= results[icount].hike_length%></td>
                    <td><%= results[icount].average_rating%></td>
                </tr>
                <% } %>
        </tbody>



    </table>












</body>

</html>