<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <table>
        <thead>
            <tr>
                <th>Hike Name</th>
                <th>Length</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <!-- make ejs display hikes here using for loop -->
            <% for (let iCount=0; iCount < hikes.length; iCount++) { %>
                <tr>
                    <td><%= hikes[icount].hike_name%></td>
                    <td><%= hikes[icount].hike_length%></td>
                    <td><%= hikes[icount].rating%></td>
                </tr>
                <% } %>
        </tbody>



    </table>












</body>

</html>