<!DOCTYPE html>
<html lang="en">
<!-- Emma Bastian, Lauren do Lago, Connor Humphrey, Johnny Fietkau (Section 3) -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is the home page for the hiking tracker.">
  <title>Home</title>
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="../public/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../public/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../public/images/favicon-16x16.png">
  <link rel="manifest" href="../images/site.webmanifest"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css" type="text/css">
</head>

<body>
  <div class="hero">
    <picture>
      <source media="(min-width: 801px)" srcset="images/hero-zion-2000px.jpg">
      <source media="(min-width: 401px)" srcset="images/hero-zion-800px.jpg">
      <source media="(max-width: 400px)" srcset="images/hero-zion-400px.jpg">
      <img src="images/hero-zion-800px.jpg" alt="Zion National Park, Utah">
    </picture>
    <div class="hero-text-wrapper">
      <h1>Utah Hikes</h1>
      <p class="subtitle"><strong>Track your hikes throughout Utah state!</strong>
      </p>
    </div>
  </div>

  <header>
    <div class="menu-icon">
      <svg viewbox="0 0 60 60" width="40px" height="40px">
        <line x1="5%" y1="50%" x2="95%" y2="50%" />
        <line x1="5%" y1="50%" x2="95%" y2="50%" />
      </svg>
    </div>
    <nav>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/hikes">Hikes</a></li>
        <li><a href="/rating">Ratings</a></li>
        <li><a href="/createAccount">Create Account</a></li>

      </ul>
    </nav>
  </header>

  <div class="centersvg">
    <svg xmlns="http://www.w3.org/2000/svg" height="12" width="9"
      viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
      <path fill="#2255bb"
        d="M192 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm51.3 182.7L224.2 307l49.7 49.7c9 9 14.1 21.2 14.1 33.9V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V397.3l-73.9-73.9c-15.8-15.8-22.2-38.6-16.9-60.3l20.4-84c8.3-34.1 42.7-54.9 76.7-46.4c19 4.8 35.6 16.4 46.4 32.7L305.1 208H336V184c0-13.3 10.7-24 24-24s24 10.7 24 24v55.8c0 .1 0 .2 0 .2s0 .2 0 .2V488c0 13.3-10.7 24-24 24s-24-10.7-24-24V272H296.6c-16 0-31-8-39.9-21.4l-13.3-20zM81.1 471.9L117.3 334c3 4.2 6.4 8.2 10.1 11.9l41.9 41.9L142.9 488.1c-4.5 17.1-22 27.3-39.1 22.8s-27.3-22-22.8-39.1zm55.5-346L101.4 266.5c-3 12.1-14.9 19.9-27.2 17.9l-47.9-8c-14-2.3-22.9-16.3-19.2-30L31.9 155c9.5-34.8 41.1-59 77.2-59h4.2c15.6 0 27.1 14.7 23.3 29.8z" />
    </svg>
  </div>

  <main>
    <article class="panel">
      <div class="text-wrapper left">
        <h2>Zion National Park</h2>
        <p>Utah is home to many national parks. Located near Springdale, Utah, this national park is home to many
          popular hikes. This includes
          the Narrows, and Angel's Landing (featured on the hero image).
        </p>
        <a href="#" class="button" id="button">Start tracking!</a>
      </div>
      <div class="image-wrapper">
        <img src="images/zion-600px.jpg" alt="Zion National Park" width="600" height="400">
      </div>
    </article>
  </main>

  <aside>
    <p><em>Hiking is fun!</em> There are lots of places to explore in Utah! Have fun tracking your hikes and looking for
      suggestions!</p>
  </aside>
  <footer>
    <p><strong>Website by Emma Bastian &copy; 2023</strong></p>
  </footer>

  <script>
    document.querySelector(".menu-icon").addEventListener("click", function () {
      this.parentElement.classList.toggle("close");
    });
  </script>
</body>

</html>